html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    background: #90596d;
    color: white;
    padding: 1rem 0;
    text-align: center;
    font-weight: bolder;
}

main {
    padding: 1rem;
    color: #c78ca0;
}

footer {
    text-align: center;
    font-style: italic;
    text-decoration: none;
    padding: 1rem 0;
    background: #90596d;
    color: white;
}