body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: pink;
    color: hotpink;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: inline;
    margin-right: 1rem;
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: darkmagenta;
}

main {
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: pink;
    color: hotpink;
    margin-top: auto;
}