body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.header, .footer, .navbar {
    background: #90596d;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-nav .nav-link.active {
    color: #c78ca0;
    font-weight: bold;
}

.nav-link:hover {
    color: #c78ca0;
}

.text-align-justify {
    text-align: justify;
    font-size: large;
    font-weight: bold;
    word-spacing: 0.1px;
    padding: 20px;
    line-height: 1.1;
    /* background: #beacac; */
    /* color: #A94A4A; */
    /* border: 10px solid; */
}

.home-content, .about-content, .projects-content, .contact-content {
    background: rgba(199, 140, 160, 0.7);
    border-radius: 15px;
    border: 5px solid;
    color: #90596d;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.footer a {
    color: #c78ca0;
}

.footer a:hover {
    color: white;
}